#Sprint 3, T05

##Nivell 1

###Execise 1 - Explode database with Pandas

In [51]:
import pandas as pd
import numpy as np
my_df = pd.read_csv('DelayedFlights.csv')
my_df[:3]

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,...,4.0,8.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1,1,2008,1,3,4,754.0,735,1002.0,1000,WN,...,5.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
2,2,2008,1,3,4,628.0,620,804.0,750,WN,...,3.0,17.0,0,N,0,NaN,NaN,NaN,NaN,NaN

In [95]:
#Deleting all columns with no values
my_df.drop('Unnamed: 0', inplace=True, axis=1)
my_df.drop('Diverted', inplace=True, axis=1)

In [128]:
my_df.drop('Year', inplace=True, axis=1)
my_df.drop('DepTime', inplace=True, axis=1)
my_df.drop('ArrTime', inplace=True, axis=1)
my_df.drop('ActualElapsedTime', inplace=True, axis=1)
my_df.drop('CRSElapsedTime', inplace=True, axis=1)

###Execise 2 - Analysis of data

In [129]:
#Columns with some values
my_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1936758 entries, 0 to 1936757
Data columns (total 22 columns):
 #   Column             Dtype
---  ------             -----
 0   Month              int64
 1   DayofMonth         int64
 2   DayOfWeek          int64
 3   CRSDepTime         int64
 4   CRSArrTime         int64
 5   UniqueCarrier      object
 6   FlightNum          int64
 7   TailNum            object
 8   AirTime            float64
 9   ArrDelay           float64
 10  DepDelay           float64
 11  Origin             object
 12  Dest               object
 13  Distance           int64
 14  TaxiIn             float64
 15  TaxiOut            float64
 16  CarrierDelay       float64
 17  WeatherDelay       float64
 18  NASDelay           float64
 19  SecurityDelay      float64
 20  LateAircraftDelay  float64
 21  HasDelay           bool
dtypes: bool(1), float64(10), int64(7), object(4)
memory usage: 312.1+ MB

In [46]:
#Missing values by column
print(my_df.isnull().sum())

Month                     0
DayofMonth                0
DayOfWeek                 0
DepTime                   0
CRSDepTime                0
ArrTime                7110
CRSArrTime                0
UniqueCarrier             0
FlightNum                 0
TailNum                   5
ActualElapsedTime      8387
CRSElapsedTime          198
AirTime                8387
ArrDelay               8387
DepDelay                  0
Origin                    0
Dest                      0
Distance                  0
TaxiIn                 7110
TaxiOut                 455
CarrierDelay         689270
WeatherDelay         689270
NASDelay             689270
SecurityDelay        689270
LateAircraftDelay    689270
dtype: int64

In [64]:
#Creating new column
my_df['HasDelay'] = np.where(my_df['ArrDelay'] >= 0, True, False)

In [66]:
my_df[['ArrDelay', 'HasDelay']]

         ArrDelay  HasDelay
0           -14.0     False
1             2.0      True
2            14.0      True
3            34.0      True
4            11.0      True
...           ...       ...
1936753      25.0      True
1936754      75.0      True
1936755      99.0      True
1936756       9.0      True
1936757      -5.0     False

[1936758 rows x 2 columns]

In [125]:
#Airlines with the most delayed flights
new_df = my_df.groupby(['UniqueCarrier'])['ArrDelay'].sum()
new_df.sort_values()

UniqueCarrier
AQ       15814.0
HA      255613.0
F9      788549.0
AS     1406735.0
9E     2420468.0
OH     2675993.0
B6     3025749.0
FL     3100150.0
NW     3462075.0
US     3571867.0
YV     3691461.0
EV     3888131.0
CO     4045932.0
DL     4535644.0
XE     5176042.0
OO     5978936.0
MQ     6396704.0
UA     6733013.0
AA     8889066.0
WN    11319092.0
Name: ArrDelay, dtype: float64

###Airline with code WN has acumulated the most delays.

In [76]:
#Longest flights
sorted_df = my_df.sort_values(['AirTime'], ascending=False)
sorted_df[['UniqueCarrier', 'FlightNum', 'AirTime']]

        UniqueCarrier  FlightNum  AirTime
1488690            HA         21   1091.0
1367047            HA         28    733.0
362529             CO         15    664.0
556381             CO         15    655.0
556385             CO         15    654.0
...               ...        ...      ...
1935651            DL       1706      NaN
1935716            DL         26      NaN
1935876            DL        892      NaN
1935978            DL       1102      NaN
1936470            DL       1372      NaN

[1936758 rows x 3 columns]

In [77]:
#The most delayed flights
sorted_df = my_df.sort_values(['ArrDelay'], ascending=False)
sorted_df[['UniqueCarrier', 'FlightNum', 'ArrDelay']]

        UniqueCarrier  FlightNum  ArrDelay
322516             NW        808    2461.0
686014             NW       1699    2453.0
839306             NW       1107    1951.0
1009553            MQ       3538    1707.0
1881639            NW        357    1655.0
...               ...        ...       ...
1935651            DL       1706       NaN
1935716            DL         26       NaN
1935876            DL        892       NaN
1935978            DL       1102       NaN
1936470            DL       1372       NaN

[1936758 rows x 3 columns]

In [132]:
my_df.to_csv('myDataFrame.csv')